body {
    margin:5px 5px 0px 5px;
    border: 1px solid #48545c;
    overflow-y: hidden;
    background-color:#3a464f;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    resize: both;

  }

  #titlebar {
    display: block;
    position: fixed;
    height: 32px;
    width: calc(100% - 2px); /*Compensate for body 1px border*/
    padding: 4px;
    color: #FFF;
  }

  #titlebar #drag-region {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 138px;
    -webkit-app-region: drag;
  }

  #window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
  }
  
  #window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
  }

  #window-controls {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    position: absolute;
    top: 0;
    right: 5%;
    height: 100%;
    -webkit-app-region: no-drag;
  }
  
  #window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
  }

  #window-controls .button:hover {
    background: rgba(255,255,255,0.1);
  }
  #window-controls .button:active {
    background: rgba(255,255,255,0.2);
  }
  
  #restore-button {
    display: none !important;
  }

  #min-button {
    grid-column: 1;
  }

  #max-button, #restore-button {
    grid-column: 2;
  }

  #close-button {
    grid-column: 3;
  }

  #close-button:hover {
    background: #E81123 !important;
  }
  #close-button:active {
    background: #F1707A !important;
  }
  #close-button:active .icon {
    filter: invert(1);
  }

  #main {
    height: calc(100% - 32px);
    margin-top: 32px;
    padding: 20px;
    overflow-y: auto;
  }

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

.box1 {
  border-left: 6px solid DodgerBlue;
  border-right: 6px solid DodgerBlue;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

h4 {
  text-align: left;
  margin: 4px 2px;
}

h5 {
  text-align: left;
}

h6 {
  text-align: center;
}

p {
  text-align: left;
}

.button {
  border: white;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonOthers {
  background-color: #3a464f;
  border: 1px solid #968c8c;
  } 

.buttonOthers:hover {
  background-color: #008CBA;
  color: white;
}

.slidecontainer {
  width: 100%; 
  color: white;
}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 100%; 
  height: 15px; 
  border-radius: 5px;  
  background: #d3d3d3; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  border-radius: 50%;  
  background: #046daa; 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  border-radius: 50%;
  background: #046daa; 
  cursor: pointer; 
}

#stream {
      position: relative;
      width: 90%;
      height: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
}

#info_bar {
    position: relative;
    color: white;
    }

.info {
    display: inline;
    text-shadow:#000 1px 0px 2px;
  }

#info_bar :first-child {
    margin-left: 0px;
}

#info_bar :nth-child() {
    margin-right: 50px;
}
             
/* toggle in label designing */
.toggle {
  position : relative ;
  display : inline-block;
  width: 100px;
  height: 50px;
  background-color: rgb(179, 12, 12);
  border-radius: 30px;
  border: 2px solid gray;
  cursor: pointer;
}
               
/* After slide changes */
.toggle:after {
  content: '';
  position: absolute;
  width: 49px;
  height: 48px;
  border-radius: 50%;
  background-color: gray;
  top: 1px;
  left: 1px;
  transition:  all 0.5s;
}
                         
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
  left : 51px;
}
               
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
  background-color: green;
}
               
/* Checkbox vanished */
.checkbox {
  display : none;
}
